
## templated variables to be replaced exist as <__var_name__>

# database settings
DATABASE=#FULL_PATH#/step03_annotation_pipeline.V01/protein_and_transcript_mappings/pasa/#species#.sqlite  

#######################################################
# Parameters to specify to specific scripts in pipeline
# create a key = "script_name" + ":" + "parameter" 
# assign a value as done above.

#script validate_alignments_in_db.dbi
validate_alignments_in_db.dbi:--MIN_PERCENT_ALIGNED=90
validate_alignments_in_db.dbi:--MIN_AVG_PER_ID=95
validate_alignments_in_db.dbi:--MAX_INTRON_LENGTH=100000

#script subcluster_builder.dbi
subcluster_builder.dbi:-m=50

