{
  "Parameters": {
    "configFile": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/Annotation.config",
    "specFile": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/Annotation.spec",
    "base_name": "Homo_sapiens.GRCh38.dna.chrom19",
    "run_geneid": true,
    "run_geneid_introns": false,
    "run_augustus": true,
    "run_augustus_hints": false,
    "run_genemark": true,
    "run_genemark-ET": false,
    "run_miniprot": true,
    "run_pasa": true,
    "run_transdecoder": true,
    "run_EVM": true,
    "run_update": true,
    "run_non_coding": true,
    "get_JBrowse": true
  },
  "Inputs": {
    "scripts_dir": "/software/assembly/pipelines/Annotation_AAT/scripts/",
    "genome": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/evidence/Homo_sapiens.GRCh38.dna.chrom19.fa",
    "genome_masked": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/evidence/Homo_sapiens.GRCh38.dna.chrom19.masked.fa",
    "junctions": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step02_RNApipeline/alljunctions.final.chrom19.gff3",
    "geneid_parameters": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/evidence/pipeline_inputs/human3isoU12.param",
    "proteins": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/evidence/uniprot_sprot.fasta",
    "transcripts": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/evidence/pipeline_inputs/transcript_evidence.fa",
    "pasa_config": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/evidence/pipeline_inputs/alignAssembly.v2.5.2.pasa2.config",
    "trans_gtf": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step02_RNApipeline/TACO_assembled.chrom19.gtf",
    "update_config": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/evidence/pipeline_inputs/annotCompare_v2.5.2.pasa2.config",
    "genome_lengths": null,
    "RM_gff": null
  },
  "Outputs": {
    "annotation_step": 3,
    "annotation_version": "01",
    "base_dir": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/",
    "output_dir": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/",
    "EVM_dir": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step04_EVM.V01/",
    "dir_masked_chunks": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/chunks_masked_reference/",
    "dir_genome_chunks": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/chunks_genome_reference/",
    "augustus_prediction": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/augustus/augustus_gene_prediction.gff3",
    "augustus_preEVM": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/augustus/augustus_preEVM.gff3",
    "augustus_hints_prediction": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/augustus_hints/augustus_hints_gene_prediction.gff3",
    "augustus_hints_preEVM": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/augustus_hints/augustus_hints_preEVM.gff3",
    "geneid_prediction": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/geneid/geneid_gene_prediction.gff3",
    "geneid_preEVM": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/geneid/geneid_preEVM.gff3",
    "geneid_introns_prediction": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/geneid_introns/geneid_introns_gene_prediction.gff3",
    "geneid_introns_preEVM": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/geneid_introns/geneid_introns_preEVM.gff3",
    "genemark_prediction": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/genemark.gtf",
    "genemark_preEVM": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/genemark_preEVM.gff3",
    "genemark_ET_prediction": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/genemark-ET.gtf",
    "genemark_ET_preEVM": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/gene_predictions/genemark-ET_preEVM.gff3",
    "miniprot_cds": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/protein_and_transcript_mappings/miniprot/proteins_miniprot_cds.gff3",
    "miniprot_gene": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/protein_and_transcript_mappings/miniprot/proteins_miniprot_gene.gff3",
    "pasa_dir": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step03_annotation_pipeline.V01/protein_and_transcript_mappings/pasa/",
    "evm_out": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step04_EVM.V01/evm.best.gff3",
    "update_dir": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step05_annotation_update.V01/",
    "ncRNA_annotation_dir": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step06_ncRNA_annotation.V01/",
    "out_cmsearch": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step06_ncRNA_annotation.V01/cmsearch.tbl",
    "out_tRNAscan": "/scratch_isilon/groups/assembly/data/Biohackathon/BH2023/annotation/human/step06_ncRNA_annotation.V01/tRNAscan-SE/tRNAscan.out"
  },
  "Chunks": {
    "masked_chunks": 1,
    "genome_chunks": 1,
    "protein_chunks": 20
  },
  "augustus": {
    "aug_species": "human",
    "aug_alternatives_from_sampling": "true",
    "aug_alternatives_from_evidence": "true",
    "aug_uniqueGeneId": "true",
    "aug_gff3": "on",
    "aug_sample": 60,
    "aug_noInFrameStop": "true",
    "aug_maxtracks": 2,
    "aug_singlestrand": "false",
    "aug_strand": "both",
    "aug_min_intron_len": 30,
    "augustus_weights": [
      2,
      2,
      1
    ],
    "additional_augustus_options": null
  },
  "augustus_hints": {
    "extrinsic_file_augustus_hints": "/software/assembly/conda/augustus3.5.0/config/extrinsic/extrinsic.E.cfg",
    "augustus_hints_weights": [
      3,
      3,
      3
    ],
    "additional_augustus_hints_options": null
  },
  "geneid": {
    "geneid_path": "/software/assembly/src/geneid/",
    "geneid_weights": [
      2,
      1,
      2
    ],
    "geneid_options": " -3U "
  },
  "geneid_introns": {
    "geneid_introns_weights": [
      3,
      3,
      3
    ],
    "geneid_introns_options": " -3nU"
  },
  "genemark": {
    "gmk_max_contig": 5000000,
    "gmk_min_contig": 50000,
    "gmk_max_gap": 5000,
    "gmk_cores": 24,
    "genemark_weights": [
      1,
      1,
      1
    ],
    "additional_genemark_options": null
  },
  "genemark-ET": {
    "genemark_ET_weights": [
      3,
      3,
      3
    ],
    "additional_genemark_ET_options": null
  },
  "miniprot": {
    "miniprot_path": "/software/assembly/src/miniprot/miniprot/",
    "miniprot_cores": 8,
    "miniprot_weights": [
      10,
      8,
      10
    ],
    "additional_miniprot_options": null
  },
  "pasa": {
    "pasa_cores": 1,
    "create_database": true,
    "pasadb": "chrom19.sqlite",
    "pasa_weights": [
      8,
      10,
      8
    ],
    "aligners": "gmap",
    "add_option": null
  },
  "transdecoder": {
    "transdecoder_weights": [
      3,
      2,
      3
    ]
  },
  "EVM": {
    "evm_path": "/scratch/project/devel/aateam/src/EVidenceModeler-1.1.1/",
    "evm_segmentsize": 2000000,
    "evm_overlapsize": 1000000,
    "evm_cores": 24,
    "additional_evm_options": null
  },
  "update": {
    "project_name": [
      "HSAP1",
      "A"
    ],
    "update_rounds": 2
  },
  "ncRNA_annotation": {
    "ncRNA_version": "A",
    "cmsearch_CPUs": 16,
    "Rfam": "/scratch/devel/jgomez/RFAM_db/290721/Rfam.cm",
    "blast_threads": 4
  }
}
